@use '@/styles/breakpoints' as *;
@use '@/styles/typography' as *;
@use '@/styles/colors' as *;

.button {
  padding: 17px 28px 18px 28px;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  @include link-md;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include respond-to('sm') {
    padding: 13px 24px 14px 24px;
  }
}

.primary-black {
  background-color: $color-black;
  color: $color-white;

  &:hover {
    background-color: $color-gray;
  }
}

.primary-white {
  background-color: $color-white;
  color: $color-black;

  &:hover {
    background-color: $color-gray;
  }
}

.secondary {
  background-color: $color-white-10;
  color: $color-white;

  &:hover {
    background-color: $color-white-20;
    backdrop-filter: blur(20px);
  }
}

.tertiary {
  padding: 6px 14px;
  background-color: $color-white-10;
  color: $color-white;
  border-radius: 64px;
  @include link-md;

  &:hover {
    background-color: $color-white-20;
    backdrop-filter: blur(20px);
  }

  @include respond-to('sm') {
    padding: 6px 12px;
    @include link-sm;
  }
}
