$color-black: #000000;
$color-light-black: #131314;
$color-gray: #303236;
$color-light-gray: #85888f;
$color-white: #ffffff;

$color-black-30: #0000004d;
$color-white-10: #edf5ff1a;
$color-white-20: #edf5ff33;
$color-white-30: #edf5ff4d;
$color-white-60: #edf5ff99;

$gradient: linear-gradient(180deg, #85888f 11.5%, #9da3ab 100%);
